.card{
    margin:auto;
    width:100%;
    max-width: 500px;
    padding: 3em 2em;
}

.card .list-todos{
    margin-top: 1em;
    margin-right: -1em;
    padding-right: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--active-color) var(--card-bg);
}