@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --body-bg: #323339;
    --card-bg: #1e1f23;
    --modal-bg: #fff;
    --input-bg: #323339;
    --text-color: #fcfeff;
    --active-color: #2591d0;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--card-bg);
    color: var(--text-color);
}